body{
  font-family: 'Dosis', sans-serif;
  background-color: #F7F249;
  color: #E72C70;

}

.landing-page{
  text-align: center;
}

header img{
  width: 150px;
  margin-top: 20px;
  /*don't interact with other elements, go to top right*/
  position: absolute;
  top: 5%;
  right: 5%;
}

.button{
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 700;
}

#nextTopping{
  margin: auto;
}

.pink{
  background-color: #E72C70;
}

.blue{
  background-color: #2C9CE7;
}

.yellow{
  background-color: #F7F249;
  color: #E72C70;
}

#homepage h1{
  margin-top: 200px;
  font-size: 2.5em;
  font-weight: 700;
}


#homepage a{
  font-size: 1.5em;
}

#homepage p{
  font-size: 1.5em;
  margin-bottom: 150px;
}
#donutPicker{
  color: #FFF;
  width: 40%;
  height: 50%;
  background-color: #E72C70;
  padding: 10px;
  border-radius: 30px;
  margin: 50px;
  align-items: center;
}

#status ul{
  list-style: none;
  padding: 0;
  /*place next to eachother space between*/
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

#status li{
  /*circle border radius*/
  border-radius: 50%;
  background-color: #82D1E4;
  width: 1em;
  height: 1em;
  /*center the text*/
  text-align: center;

}

#currentStatus{
  border-color: #60D1D6;
  border-style: solid;
  border-width: 5px;
}

#donutPicker h2{
  text-align: center;
}

#toppings{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  align-items: center;

}

#toppings ul{
  list-style: none;
  padding: 0;
  width: 80%;
  margin: auto;
  /*place next to eachother space between grid of 3 next to eachother*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#toppings li{
  /*virtical align*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toppings li div{
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
}

#chocolade{
  background-color: #7B3F00;
}

#kers{
  background-color: #FF4C8E;
}

#witteChocolade{
  background-color: #f5f5dc;
}

/*hover over chocolade change border, give shadow*/
#chocolade:hover{
  border-color: #7B3F00;
  box-shadow: 0 0 10px #7B3F00;
}

#kers:hover{
  border-color: #FF4C8E;
  box-shadow: 0 0 10px #FF4C8E;
}

#witteChocolade:hover{
  border-color: #f5f5dc;
  box-shadow: 0 0 10px #f5f5dc;
}