body{
  font-family: 'Dosis', sans-serif;
  background-color: #E72C70;
}

.header{
  color: #F7F249;
}

.header img{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.button{
  background-color: #F7F249;
  color: #E72C70;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}