:root{
  --pink : #E72C70;
  --blue : #2C9CE7;
  --yellow : #F7F249;
  --chocolate : #7B3F00;
  --kers : #FF4C8E;
  --witteChocolade : #f5f5dc;
}

body{
  font-family: 'Dosis', sans-serif;
  background-color: var(--yellow);
  color: var(--pink);

}

.landing-page{
  text-align: center;
}

header img{
  width: 150px;
  margin-top: 20px;
  /*don't interact with other elements, go to top right*/
  position: absolute;
  top: 5%;
  right: 5%;
}

.btn{
  color: #fff;
  border-radius: 30px;
  padding: 0.6250em 30px;
  text-decoration: none;
  font-weight: 700;
}

#nextTopping{
  display: block;
  margin: auto;
  text-align: center;
  width: max-content;
  margin: 10px auto;
}

.btn--pink{
  background-color: var(--pink);
}

.btn--blue{
  background-color: var(--blue);
}

.yellow{
  background-color: var(--yellow);
  color: var(--pink);
}

#homepage h1{
  margin-top: 200px;
  font-size: 2.5em;
  font-weight: 700;
}


#homepage a{
  font-size: 1.5em;
}

#homepage p{
  font-size: 1.5em;
  margin-bottom: 150px;
}
#donutPicker{
  color: #FFF;
  width: 40%;
  height: 50%;
  background-color: var(--pink);
  padding: 0.6250em;
  border-radius: 30px;
  margin: 50px;
  align-items: center;
}

#status{
  margin-top: 1em;
}

#status ul{
  list-style: none;
  padding: 0;
  /*place next to eachother space between*/
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

#status li{
  /*circle border radius*/
  border-radius: 50%;
  border-color: var(--blue);
  border-style: solid;
  border-width: 1em;
  background-color: var(--blue);
  width: 1em;
  height: 1em;
  /*center the text*/
  text-align: center;
}

.glazuurInput {
  color: #2C9CE7;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.currentStatus{
  background-color: var(#2C9CE7);
}

#donutPicker h2{
  text-align: center;
}

#toppings{
  width: 70%;
  margin: auto;
  align-items: center;
}

#toppings ul{
  list-style: none;
  padding: 0;
  width: 80%;
  margin: auto;
  /*place next to eachother space between grid of 3 next to eachother*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#lastStep ul {
  display: block;

}

#oreo{
  background-image: url("/public/images/oreo.webp");
  background-size: cover;
  background-position: center;
}

#marshmellows{
  background-image: url("/public/images/mini-marshmallows.jpg");
  background-size: 700%;
  background-position: center;
}

#sprinkles{
  background-image: url("/public/images/colorful-sprinkles.jpg");
  background-size: 750%;  
}

#toppings li{
  /*virtical align*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lastStep li{
  display: inline-block;
  margin: 0 10px;
}
#toppings li div{
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
}

#topping{
  display: none;
}

#lastStep{
  display: none;
}

#chocolade{
  background-color: var(--chocolate);
}

#kers{
  background-color: var(--kers);
}

#witteChocolade{
  background-color: #f5f5dc;
}

/*hover over chocolade change border, give shadow*/
#chocolade:hover{
  border-color: var(--chocolate);
  box-shadow: 0 0 10px var(--chocolate);
}

#kers:hover{
  border-color: #FF4C8E;
  box-shadow: 0 0 10px #FF4C8E;
}

#witteChocolade:hover{
  border-color: #f5f5dc;
  box-shadow: 0 0 10px #f5f5dc;
}

/*when on mobile*/
@media screen and (max-width: 600px){
  header img{
    position: static;
    display: inline-block;
    margin: auto;
    align-self: center;
  }
  #donutPicker{
    width: 80%;
    margin: auto;
  }


  #toppings{
    width: 90%;
  }

}

@media screen and (max-width: 400px) {
  #toppings ul{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 900px){
  #toppings ul{
    grid-template-columns: repeat(2, 1fr);
  }
}